<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Final Proyect Notebook-Data Science Tools

## Introduction
This notebook contains all the content learn in this course.

## Data Science Languages
In this course we learn most of the languages used in Data Science, like:
- Python
- R
- Java
- Scala
- SQL
- Julia

## Data Science Libraries
The most popular libraries in Data Science are:
- NumPy
- Panda
- ggplot2 (Only for R)
- Tensorflow
- Scikit-learn
- Matplotlib

## Data Science Tools
Some Data Science tools with their description are:
- Jupyter Notebook -> Is an interactive notebook for writing code.
- RStudio -> Is a IDE for programming in R.
- Tensorflow -> Is a deep learning library.
- Visual Code -> This is a popular text editor that contains expansion support.
- Apache Spark -> This is a framework for big data processing.

## Some examples of arithmetic expressions
- Addition:`8 + 8`
- Division: `16 / 4` 
- Multiplication: `8 * 2`
- Resting: `16 - 8`

### This expression multiplies and then adds numbers

In [4]:
(8 * 2) + 3

19

### Convert minutos to hours

In [ ]:
minutos = 360
hours = minutos / 60
hours

### Goals of the course

In [ ]:
goals = [ "Use Jupyter Notebooks", "Understand better de use of Data Science tools", "Use Github"]
for goal in goals:
    print(goal)

In [ ]:
## Author
**Name: Vivian Valdes**